SECRET_KEY=sua_chave_secreta_aqui
ACCESS_TOKEN_EXPIRE_MINUTES=30
EMAIL= # email que sera usado para enviar o codigo para o usuario
PASSWORD_APP_GMAIL= # acesse o apppasswords do google para acessar
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
